.expContainer{
    margin-top:13.5%;
    font-family: Source Code Pro;
    margin-bottom:15%;
}
.expTitle{
    font-size:2.5rem;
    color:#3587A4;
}
.expTitleContainer{
    display:flex;
    justify-content:center;
}
.tabContainer{
    display:flex;
    justify-content:center;
    margin-bottom:-4.5%;
}
.responsiveExpContent{
    display:none;
}
@media screen and (max-width:520px){
    .expTitle{
        font-size:2.1rem;
    }

}
@media screen and (max-width:450px){
    .tabContainer{
        display:none;
    }
    .expContent{
        display:none;
    }
    .responsiveExpContent{
        display:block;
    }
}




