.aboutContainer{
    margin-top:12.5%;
    font-family: Source Code Pro;
    margin-bottom:5%;
}
.aboutTitle{
    font-size:2.5rem;
    color:#3587A4;
}
.aboutTitleContainer{
    display:flex;
    justify-content:center;
}
.aboutDescription{
    display:flex;
    justify-content:flex-end;
    flex-direction:row;
    width:65%;
    margin:auto;
    margin-top:1.5%;
}
.paraContainer{
    margin-top:-6%;
}
.abouttxt{
    font-size:1rem;
}
.aboutTitle{
    font-size:2.5rem;
    text-align:center;
}
.proPicContainer{
    margin-top:-4%;
    padding-left:3.5%;
}
.proPic{
    height:25rem;
    width:19rem;
    border:1px solid black;
}
.proPicContainer2{
    display:none;
}
.buttonLinks{
    display:flex;
    justify-content:center;

}
.button{
    margin:3.5% 10% 0 10%;
}
.btcolor{
    color:gray;
    font-size:2rem;
    transition:0.5s all;
}

.btcolor:hover{
    color:#2D848A;
    transform:translateY(-5px);
    transition:0.5s transform;
}
@media screen and (max-width:1100px){
    .aboutDescription{
        width:70%;
    }
}
@media screen and (max-width:1037px){
    .proPic{
        height:23rem;
        width:17rem;
    }
    .aboutDescription{
        width:75%;
    }
}

@media screen and (max-width:950px){
    .proPic{
        height:21rem;
        width:15rem;
    }
    .aboutDescription{
        width:80%;
    }
}

@media screen and (max-width:868px){
    .aboutContainer{
        margin-top:25%;
    }
    .proPic{
        height:20rem;
        width:16rem;
    }
    .aboutDescription{
        width:85%;
    }

}

@media screen and (max-width:836px){
    .aboutDescription{
        width:90%;
    }
    
}

@media screen and (max-width:757px){
    .aboutDescription{
        width:70%;
        margin-top:-2.5%;
        
    }
    .proPicContainer{
        display:none;
    }
    .proPicContainer2{
        display:flex;
        justify-content:center;
        margin-top:10%;
    }
}
@media screen and (max-width:650px){
    .aboutDescription{
        width:75%;
    }
}
@media screen and (max-width:550px){
    .aboutDescription{
        width:80%;
        margin-top:-5%;
    }
    .aboutTitle{
        font-size:2.25rem;
    }
    .abouttxt{
        font-size:.95rem;
    }
    .proPic{
        height:18rem;
        width:14rem;
    }
}

@media screen and (max-width:520px){
    .aboutTitle{
        font-size:2.1rem;
    }
}

@media screen and (max-width:470px){
    .aboutDescription{
        width:90%;
    }
}