
body {
    margin:0;
    animation: fadeInAnimation ease 2s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    overflow-x:hidden;
} 
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    }
    75%{
        opacity:.75;
    }
    100% { 
        opacity: 1; 
     } 
} 